.project-box {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.project-box img {
    width: 100%;
    transition: 0.5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-layer {
    background: linear-gradient(rgba(3, 78, 80, 0.1), rgba(106, 229, 229, 0.929), rgba(184, 235, 235, 0.929));
    opacity: 0;
    transition: 0.5s ease;
}

.project-box:hover .project-layer {
    opacity: 1;

}