.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skill-horizontal-line {
  flex-grow: 1;
  height: 3px;
  background-color: rgb(13 148 136);
}

.skill-left-line {
  margin-right: 10px;
}

.skill-right-line {
  margin-left: 10px;
}

.content {
  margin: 10px;
}