.about-me-container {
  text-align: center;
}

.horizontal-line {
  border: 0;
  border-top: 4px solid rgb(13 148 136);
  margin: 20px 0;
}

.left-line {
  margin-right: auto;
  width: 50%;
}

.right-line {
  margin-left: auto;
  width: 50%;
}

.about-me-content {
  padding: 20px;
}